@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@700&display=swap");

// ----- GLOBAL -----  //
:root {
  font-size: 16px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

// ----- COLOURS ----- //
$darkBackground: #282828;
$accentRed: #d02035;
$textColour: #fff;
$inputColor: #797979;

.wrapper {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $darkBackground;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    max-width: 1000px;

    .form-title {
      font-size: 4vw;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      color: $textColour;
      padding-bottom: 2rem;
    }

    .horizontalLine {
      background-color: $accentRed;
      width: 35%;
      height: 0.7rem;
      margin-bottom: 2rem;
    }
    .thankYou-msg {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2.1875rem;
      padding-bottom: 2rem;
      color: $textColour;
    }
    .form-description {
      font-family: "Merriweather", serif;
      color: $textColour;
      font-size: 1.25rem;
      padding-bottom: 2rem;
    }

    .form-inputs {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
      padding-bottom: 2rem;
      input {
        padding: 0;
      }
      input,
      .dropdown-form {
        font-family: "Merriweather", serif;
        font-style: italic;
        color: $inputColor;
        font-style: 1rem;
        padding-left: 0.5rem;
        height: 2.8rem;
        border-radius: none;
        border: unset;
      }

      .form-email {
        display: flex;
        flex-direction: column;
      }
    }

    .form-signup-btn {
      padding-top: 1rem;

      .form-btn,
      a {
        font-family: "Merriweather", serif;
        font-weight: bold;
        color: $textColour;
        width: 100%;
        background-color: $accentRed;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 8px 0px;
        border: none;
        border-radius: 3px;
      }
    }
  }
}

input.error {
  border: 2px solid $accentRed;
}

.errorMessage {
  font-family: "Merriweather", serif;
  color: $textColour;
  font-size: 0.75rem;
  display: relative;
  margin-left: 29%;
}

/* Custom dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  &::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    font-size: 0.725em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -0.5em;
  }
  .dropdown-form {
    width: 100%;
  }
}

.dropdown select {
  color: #fff;
  font-size: inherit;
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  // text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.dropdown select::-ms-expand {
  display: none;
}

// ----- MEDIA Q'S -----

@media only screen and (max-width: 1000px) {
  .wrapper {
    .form-wrapper {
      padding: 2rem;
      .form-inputs {
        grid-template-columns: 100%;
      }
    }
  }

  .errorMessage {
    float: right;
  }
}
